body {
    /* background:transparent url(../imagens/bg.png) repeat-x fixed; */
    background-color: #FFF;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

p {
    line-height: 150%;
    margin: 0px 0px 6px 0px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #555;
}

.limpar {
    clear: both;
}

h1, h2, h3, h4 {
    color: #1F4C83;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

#tudo{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#layout {
    margin: 0px auto;
    width: 900px;
    background-color: #FFF;
    padding: 0px 10px;
}

#menu {
    text-align: left;
    font-weight: bold;
    padding: 0px 0px 0px 4px;
    font-size: 12px;
    position: absolute;
    top: 179px;
}

#menu li {
    display: inline-block;
    padding: 14px 7px 0px 3px;
    height: 44px;
    background-image: url(../imagens/sep_menu.png);
    background-position: top right;
    background-repeat: no-repeat;
}

#menu li a {
    color: #FFF;
    text-decoration: none;
}

#menu li a:hover {
    color: #FFDD55;
}

#lateral {
    float: right;
    margin-top: 30px;
    width: 300px;
}

#lateral h1 {
    font-size: 18px;
    border-bottom: 1px solid #1F4C83;
}

#lateral ul {
    padding: 0px;
    border: 0px;
}

#lateral li {
    display: inline-block;
    border: 0px;
    padding: 0px;
    margin-right: 5px;
}

#lateral li a {
    text-decoration: none;
    border: 0px !important;
}

#lateral div {
    float: right;
}

a img {
    text-decoration: none;
    border: 0px;
}

#lateral li a:hover {
    text-decoration: none;
}

#conteudo {
    float: left;
    width: 550px;
    text-align: justify;
}

#conteudo h1 {
    border-bottom: 2px solid #1f4C83;
}

#conteudo h2 {
    font-size: 16px;
    margin: 5px 0px;
    padding: 0px;
}

#coluna{
    float:right;
    width:400px;
    height:300px;
    margin-bottom:30px;
}

#rodape{
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    background-image: url(../imagens/rodape.jpg);
    background-repeat: no-repeat;
    height: 220px;
    width: 880px;
}

#rodape #meio {
    padding: 80px 20px 0px 0px;
    font-size: 12px;
    color: #DDD;
    font-weight: bold;
}

#rodape a {
    color: #DDD;
}

#rodape a:hover {
    color: #FFF;
}