body {
    background-color: #FFF;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

p {
    line-height: 150%;
    margin: 0px 0px 15px 0px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #555;
}

.limpar {
    clear: both;
}

h1, h2, h3, h4 {
    color: #1F4C83;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

table{
	border:1px solid #1F4C83;
	border-collapse:collapse;
}

td, th{
	padding:8px;
}

td{
	border-right:1px solid #1F4C83;
	border-bottom:1px solid #1F4C83;
}

th{
	background-color:#1F4C83;
	color:#fff;
	font-variant: small-caps;
	text-align:left;
}

#tudo{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#layout {
    margin: 0px auto;
    width: 900px;
    background-color: #FFF;
    padding: 0px 10px;
}

#menu {
    text-align: left;
    font-weight: bold;
    padding: 0px 0px 0px 12px;
    font-size: 14px;
    position: absolute;
    top: 158px;
}

#menu li {
    display: inline-block;
    padding: 12px 12px 0px 5px;
    height: 26px;
    background-image: url(../imagens/sep_menu.png);
    background-position: top right;
    background-repeat: no-repeat;
}

#menu li a {
    color: #FFF;
    text-decoration: none;
}

#menu li a:hover {
    color: #FFDD55;
}

#lateral {
    float: right;
    margin-top: 12px;
    width: 300px;
}

#lateral h2 {
    font-size: 18px;
    border-bottom: 1px solid #1F4C83;
}

#lateral ul {
    padding: 0px;
    border: 0px;
    text-align: center;
}

#lateral li {
    display: inline-block;
    border: 0;
    margin: 0 0 15px 5px;
    padding: 0;
}

#lateral li a {
    text-decoration: none;
    border: 0px !important;
}

#lateral div {
    float: right;
}

a img {
    text-decoration: none;
    border: 0px;
}

#lateral li a:hover {
    text-decoration: none;
}

#conteudo {
    float: left;
    width: 550px;
    text-align: justify;
    margin: -105px 0 0 0;
}

#conteudo h2 {
    font-size: 16px;
    margin: 5px 0px 15px;
    padding: 0px;
}

#coluna{
    float:right;
    width:400px;
    height:300px;
    margin-bottom:30px;
}

#rodape{
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    background-image: url(../imagens/rodape.jpg);
    background-repeat: no-repeat;
    height: 220px;
    width: 880px;
}

#rodape #meio {
    padding: 70px 20px 0px 0px;
    font-size: 12px;
    color: #DDD;
    font-weight: bold;
}

#rodape a {
    color: #DDD;
}

#rodape a:hover {
    color: #FFF;
}
