body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: #444;
    font-size: 14px;
}

p {
    line-height: 150%;
}

a {
    text-decoration: underline;
    color: #555;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #222;
}

.limpar {
    clear: both;
}

h1, h2, h3, h4 {
    color: #777;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

ul {
    padding: 0 10px;
    margin: 0;
}

#wrap {
    width: 100%;
    margin: 0;
    padding: 0;
}

#layout {
    margin: 0 auto;
    width: 100%;
}

#topo {
    background-image: url('../images/santos.jpg');
    background-repeat: no-repeat;
    background-position: center -120px;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    height: 200px;
}

#menu {
    padding: 90px 0 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#menu li {
    display: inline-block;
    padding: 8px;
}

#menu li a {
    color: #FFF;
    text-decoration: none;
}

#menu li a:hover {
    color: #FFDD55;
}

a img {
    text-decoration: none;
    border: 0;
}

#conteudo {
    width: 900px;
    padding: 20px 0 0 0;
    text-align: justify;
    margin: 0 auto;
}

#conteudo h2 {
    font-size: 16px;
    padding: 0;
}

#coluna{
    float:right;
    width:400px;
    height:300px;
    margin-bottom:30px;
}

#rodape{
    text-align: center;
    font-size: 12px;
    height: 220px;
    width: 900px;
    margin: 0 auto;
}
